<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nantonelli.guifinal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/itunes"
        android:label="AyalaDaSongz"
        android:theme="@style/AppTheme"
        android:name=".FinalApplication">
        <meta-data android:name="AA_DB_NAME" android:value="final.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.nantonelli.guifinal.Model.Favorite,com.nantonelli.guifinal.Model.Query" />
        <activity
            android:name=".HomeActivity"
            android:label="AyalaDaSongz" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.package.name.HomeActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
